<div class="card card-custom">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">仮登録完了</h3>
    </div>
  </div>
  <div class="card-body">
    仮登録完了しました。<br>
    学生メール宛にメールを送信しています。<br>
    メールから本登録を完了してください。
  </div>
</div>