<div class="main posts-show">
  <div class="container">
    <div class="d-flex align-items-center">
      <div class="symbol symbol-60 symbol-xxl-100 mr-5 align-self-start align-self-xxl-center">
        <div class="symbol-label" ></div>
        <i class="symbol-badge bg-success"></i>
      </div>
      <div>
        <div class="text-name"><%= @teacher.last_name %></div>
        <div class="text-name"><%= @teacher.first_name %></div>
        <div class="text-muted"><%= @teacher.last_name_furigana %></div>
        <div class="text-muted"><%= @teacher.first_name_furigana %></div>
        <div class="mt-2">
          <a href="#" class="btn btn-sm btn-primary font-weight-bold mr-2 py-2 px-3 px-xxl-5 my-1">Chat</a>
          <a href="#" class="btn btn-sm btn-success font-weight-bold py-2 px-3 px-xxl-5 my-1">Follow</a>
        </div>
      </div>
    </div>
  </div>
</div>