<div class="row">
  <div class="col-12">
    <div class="card card-custom card-stretch gutter-b">
      <div class="card-header border-0 mt-5">
        <h3 class="card-title align-items-start flex-column text-dark">
          <span class="font-weight-bolder text-dark">おすすめの企業</span>
          <span class="text-muted mt-3 font-weight-bold font-size-sm">お気に入りからおすすめの求人票を表示しています。</span>
        </h3>
      </div>
      <div class="card-body pt-2">
        <% if @recommend_companies.any? %>
          <% @recommend_companies.each do |company| %>
            <div class="d-flex flex-wrap align-items-center mb-10">
              <div class="symbol symbol-60 symbol-2by3 flex-shrink-0 mr-4">
                <div class="symbol-label" style="background-image: url('/assets/media/users/blank.png')"></div>
              </div>
              <div class="d-flex flex-column flex-grow-1 my-lg-0 my-2 pr-3">
                <a href="#" class="text-dark-75 font-weight-bolder text-hover-primary font-size-lg"><%= company.name %>></a>
                <span class="text-muted font-weight-bold font-size-sm my-1"><%= company.business_details %></span>
              </div>
              <div class="d-flex align-items-center py-lg-0 py-2 ml-5">
                <div class="d-flex flex-column text-right">
                  <%= link_to("詳細", "/company/#{company.id}", {class: %w(btn btn-primary)}) %>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="text-center">おすすめはありません。お気に入り企業を増やすと表示されるようになります。</div>
        <% end %>
      </div>
    </div>
  </div>
</div>
