<div class="row">
  <div class="col">
    <div class="card card-custom gutter-b card-stretch">
      <div class="card-body py-6">
        <h5 class="font-weight-bolder m-0">選考一覧</h5>
        <span class="text-muted mt-3 font-weight-bold font-size-sm">過去に登録した選考が表示されます。新たに登録するには求人票のページから登録してください。</span>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <% @entries.each do |entry| %>
    <div class="col-sm-6 col-md-3">
      <div class="card card-custom gutter-b card-stretch">
        <div class="card-body text-center pt-4">
          <div class="mt-7">
            <div class="symbol symbol-circle symbol-lg-75">
              <img src="<%= entry.post.company.icon %>">
            </div>
          </div>
          <div class="my-2">
            <span class="text-dark font-weight-bold font-size-h4"><%= entry.post.company.name %></span>
          </div>
          <% if entry.status == 1 %>
            <span class="label label-inline label-lg label-light-success btn-sm font-weight-bold">選考中</span>
          <% elsif entry.status == 2 %>
            <span class="label label-inline label-lg label-light-primary btn-sm font-weight-bold">内定</span>
          <% elsif entry.status == 3 %>
            <span class="label label-inline label-lg label-light-danger btn-sm font-weight-bold">辞退</span>
          <% end %>
          <div class="mt-9 mb-6">
            <%= link_to("詳細ページ", "/activity/#{entry.id}", {class: %w(btn btn-md btn-primary mx-2)}) %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>