<div class="card">
  <!--begin::Container-->
  <div class="form-group" style="margin-top: 100px;">
    <label>企業名
      <span class="text-danger">*</span>
    </label>
    <input type="email" class="form-control" placeholder="Company Name">
  </div>
  <div class="form-group">
    <label>求人番号
      <span class="text-danger">*</span>
    </label>
    <input type="email" class="form-control" placeholder="Recruit Number">
  </div>
  <div class="form-group">
    <label>創業年数
      <span class="text-danger">*</span>
    </label>
    <input type="email" class="form-control" placeholder="Years">
  </div>
  <div class="form-group">
    <label for="exampleSelect1">勤務地
      <span class="text-danger">*</span>
    </label>
    <select class="form-control" id="exampleSelect1">
      <option></option>
      <option></option> #続きはここから勤務地のタブ！！！！！！！！！！！！！！！！！！
    </select>
  </div>
  <div class="form-group">
    <label for="exampleSelect1">雇用形態
      <span class="text-danger">*</span>
    </label>
    <select class="form-control" id="exampleSelect1">
      <option>正規</option>
      <option>非正規</option>
      <option>その他</option>
    </select>
  </div>
  <div class="form-group">
    <label>雇用形態その他
      <span class="text-danger">*</span>
    </label>
    <input type="email" class="form-control" placeholder="Employment Status Other">
  </div>
  <div class="form-group">
    <label>求人数
      <span class="text-danger">*</span>
    </label>
    <input type="email" class="form-control" placeholder="Job Number">
  </div>
  <div class="form-group">
    <label for="exampleSelect1">留学生受験
      <span class="text-danger">*</span>
    </label>
    <select class="form-control" id="exampleSelect1">
      <option>可</option>
      <option>不可</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleSelect1">職種
      <span class="text-danger">*</span>
    </label>
    <select class="form-control" id="exampleSelect1">
      <option>システムエンジニア</option>
      <option>プログラマー</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleSelect1">寮
      <span class="text-danger">*</span>
    </label>
    <select class="form-control" id="exampleSelect1">
      <option>あり</option>
      <option>なし</option>
    </select>
  </div>
    <div class="form-group">
    <label>特記事項
      <span class="text-danger">*</span>
    </label>
    <input type="email" class="form-control" placeholder="Remarks">
  </div>
  <!--end::Container-->
</div>