<div class="card card-custom">
  <div class="card-body">
    <%=form_tag("/recruit_post/create/#{@recruit_company.id}", {multipart: true}) do %>
      <% if @recruit_post.errors.full_messages.any? %>
        <div class="alert alert-danger" role="alert">
          <h4 class="alert-heading">エラー</h4>
          <ul class="m-0">
            <% @recruit_post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-group">
        <label>求人コード
          <span class="text-danger">*</span>
        </label>
        <input type="text" class="form-control" name="recruit_code">
      </div>
      <div class="form-group">
        <label>企業名
          <span class="text-danger">*</span>
        </label>
        <input type="text" value="<%= "#{@recruit_company.name}" %>" class="form-control" disabled>
      </div>
      <div class="form-group">
        <label>採用年度
          <span class="text-danger">*</span>
        </label>
        <input type="number" class="form-control" name="year">
      </div>
      <div class="form-group">
        <label for="exampleSelect1">職種
          <span class="text-danger">*</span>
        </label>
        <select class="form-control" name="employment_status">
          <option value=1>受付・秘書業務</option>
          <option value=2>一般事務</option>
          <option value=3>経理事務</option>
          <option value=4>営業事務</option>
          <option value=5>医療事務</option>
          <option value=6>診療情報管理業務</option>
          <option value=7>営業・販売</option>
          <option value=8>航空関係職</option>
          <option value=9>ホテルスタッフ</option>
          <option value=10>客室乗務員</option>
          <option value=11>旅行関係職</option>
          <option value=12>貿易事務</option>
          <option value=13>製菓・パン製造職</option>
          <option value=14>ブライダル関係職</option>
          <option value=15>システムエンジニア</option>
          <option value=16>プログラマ</option>
          <option value=17>入力オペレータ</option>
          <option value=18>汎用オペレータ</option>
          <option value=19>カスタマーエンジニア</option>
          <option value=20>幼稚園教諭</option>
          <option value=21>保育士</option>
          <option value=22>児童養護施設職員</option>
          <option value=23>介護施設職員</option>
          <option value=24>障碍者施設職員</option>
          <option value=25>福祉関係職</option>
        </select>
      </div>
      <div class="form-group">
        <label>仕事内容
        <span class="text-danger">*</span>
        </label>
        <input type="text" class="form-control" name="job_description">
      </div>
      <div class="form-group">
        <label>採用人数
          <span class="text-danger">*</span>
        </label>
        <input type="number" class="form-control" name="recruitment_numbers">
      </div>
      <div class="form-group">
        <label>勤務地
          <span class="text-danger">*</span>
        </label>
        <input type="text" class="form-control" name="working_office">
      </div>
      <div class="form-group">
        <label>求人公開状況
          <span class="text-danger">*</span>
        </label>
        <select class="form-control" name="status">
          <option value=0>公開</option>
          <option value=1>非公開</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleSelect1">雇用形態
          <span class="text-danger">*</span>
        </label>
        <select class="form-control" name="employment_status">
          <option value=0>正規</option>
          <option value=1>非正規</option>
          <option value=2>その他</option>
        </select>
      </div>
      <div class="form-group">
        <label>雇用形態(その他)
          <span class="text-danger">*</span>
        </label>
        <input type="text" class="form-control" name="employment_status_other">
      </div>
      <div class="form-group">
        <label>初任給
          <span class="text-danger">*</span>
        </label>
        <input type="number" class="form-control" name="salary_2year">
        <input type="number" class="form-control" name="salary_3year">
        <input type="number" class="form-control" name="salary_4year">
      </div>
      <div class="form-group">
        <label>提出方法
          <span class="text-danger">*</span>
        </label>
        <input type="text" class="form-control" name="apply_method">
      </div>
      <div class="form-group">
        <label>提出書類
          <span class="text-danger">*</span>
        </label>
        <input type="text" class="form-control" name="submit_document">
      </div>
      <div class="form-group">
        <label>特記事項
          <span class="text-danger">*</span>
        </label>
        <input type="text" class="form-control" name="other_description">
      </div>
      <input type="submit" value="登録" class="btn btn-primary float-right">
    <% end %>
  </div>
</div>