<div class="card card-custom">
  <div class="card-body">
    <% if @recruit_posts.errors.full_messages.any? %>
      <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">エラー</h4>
        <ul class="m-0">
          <% @recruit_posts.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= form_for(@recruit_posts, url: {controller: 'recruit_post', action: 'create'}) do |f| %>
      <div class="form-group">
        <label>企業コード
          <span class="text-danger">*</span>
        </label>
        <input type="text" class="form-control" name="recruit_code">
      </div>
      <div class="form-group">
        <label>企業名
          <span class="text-danger">*</span>
        </label>
        <input type="text" value="<%= "#{@recruit_company.name}" %>" class="form-control" disabled>
      </div>
      <div class="form-group">
        <label>採用年度
          <span class="text-danger">*</span>
        </label>
        <input type="number" class="form-control" name="year">
      </div>
      <div class="form-group">
        <label>職種
          <span class="text-danger">*</span>
        </label>
        <input type=text class="form-control" name="job_category_id">
      </div>
      <div class="form-group">
        <label>仕事内容
        <span class="text-danger">*</span>
        </label>
        <input type="text" class="form-control" name="job_description">
      </div>
      <div class="form-group">
        <label>採用人数
          <span class="text-danger">*</span>
        </label>
        <input type="number" class="form-control" name="recruitment_numbers">
      </div>
      <div class="form-group">
        <label>勤務地
          <span class="text-danger">*</span>
        </label>
        <input type="text" class="form-control" name="working_office">
      </div>
      <div class="form-group">
        <label>求人公開状況
          <span class="text-danger">*</span>
        </label>
        <select class="form-control" name="status">
          <option value=0>公開</option>
          <option value=1>非公開</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleSelect1">雇用形態
          <span class="text-danger">*</span>
        </label>
        <select class="form-control" name="employment_status">
          <option value=0>正規</option>
          <option value=1>非正規</option>
          <option value=2>その他</option>
        </select>
      </div>
      <div class="form-group">
        <label>雇用形態(その他)
          <span class="text-danger">*</span>
        </label>
        <input type="text" class="form-control" name="employment_status_other">
      </div>
      <div class="form-group">
        <label>初任給
          <span class="text-danger">*</span>
        </label>
        <input type="number" class="form-control" name="salary_2year">
        <input type="number" class="form-control" name="salary_3year">
        <input type="number" class="form-control" name="salary_4year">
      </div>
      <div class="form-group">
        <label>提出方法
          <span class="text-danger">*</span>
        </label>
        <input type="text" class="form-control" name="apply_method">
      </div>
      <div class="form-group">
        <label>提出書類
          <span class="text-danger">*</span>
        </label>
        <input type="text" class="form-control" name="submit_document">
      </div>
      <div class="form-group">
        <label>特記事項
          <span class="text-danger">*</span>
        </label>
        <input type="text" class="form-control" name="other_description">
      </div>
      <input type="submit" value="登録" class="btn btn-primary float-right">
    <% end %>
  </div>
</div>